.l1{
    background: lightblue;
    color: black;
}
.l2{
    background: lightgreen;
    color: black;
}
.l3{
    background: yellow;
    color: black;
}
.l4{
    background: gold;
    color: black;
}
.l5{
    background: pink;
    color: black;
}
