.l1{
    background: blue;
    color: black;
}
.l2{
    background: green;
    color: black;
}
.l3{
    background: yellow;
    color: black;
}
.l4{
    background: orange;
    color: black;
}
.l5{
    background: red;
    color: black;
}
